rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Test / İlkin inkişaf mərhələsi üçün bütün kolleksiyalara oxuma və yazma icazəsi:
    match /{document=**} {
      allow read, write: if true;
    }
    
  }
}
